[package]
name = "aoc"
version = "0.1.0"
edition = "2024"

[profile.dev]
opt-level = 1

[profile.release]
opt-level = 3
lto = "thin"

[dependencies]
clap = { version = "4.5.53", features = ["derive"] }

